# Microsoft Movie Studios

Author: Mario Mocombe

**Overview**

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they don’t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

Questions to consider:

* What are the business's plan points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?

## Data Understanding

Note that this data may not reflect the most up-to-date box office information.


1) im.db.zip 

    A zipped SQLite database containing movie data from the website Internet Movie Data Base.  The most relevant tables are         movie_basics and movie_ratings.

2) bom.movie_gross.csv.gz

    A compressed CSV file containing box office data from the website Box Office Mojo.

Questions to consider:

* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?

In [147]:
##Import Standard Packages
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# 1 IMDB DATABASE

In [148]:
### making a connection with the IMDB DATABASE using SQLite3
conn = sqlite3.connect('zippedData/im.db')

In [149]:
### setting up a cursor so I'm able to move through the database.
### Let's continue on and create a cursor.
##A cursor object is what can actually execute SQL commands. You create it by calling .cursor() on the connection.

cur = conn.cursor()
# (This is a special query for finding the table names. 
cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")

In [150]:
## Use the fetchall method to find out the table names
## Fetch the result and store it in table_names
table_names = cur.fetchall()
table_names

[('movie_basics',),
 ('directors',),
 ('known_for',),
 ('movie_akas',),
 ('movie_ratings',),
 ('persons',),
 ('principals',),
 ('writers',)]

In [151]:
pd.read_sql("SELECT * FROM movie_basics;", conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [152]:
pd.read_sql("SELECT * FROM movie_ratings ORDER BY movie_id;", conn)

        movie_id  averagerating  numvotes
0      tt0063540            7.0        77
1      tt0066787            7.2        43
2      tt0069049            6.9      4517
3      tt0069204            6.1        13
4      tt0100275            6.5       119
...          ...            ...       ...
73851  tt9913084            6.2         6
73852  tt9914286            8.7       136
73853  tt9914642            8.5         8
73854  tt9914942            6.6         5
73855  tt9916160            6.5        11

[73856 rows x 3 columns]

In [153]:
#########KEEP#########################

s = """
SELECT primary_title, start_year, runtime_minutes, genres, averagerating, numvotes 
FROM movie_basics
JOIN movie_ratings
USING(movie_id)
ORDER BY numvotes DESC;
"""
imdb = pd.read_sql(s, conn)
#######################################

In [154]:
imdb

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
1,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769
2,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334
3,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405
4,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655
...,...,...,...,...,...,...
73851,Columbus,2018,85.0,Comedy,5.8,5
73852,BADMEN with a good behavior,2018,87.0,"Comedy,Horror",9.2,5
73853,July Kaatril,2019,NaN,Romance,9.0,5
73854,Swarm Season,2019,86.0,Documentary,6.2,5
73855,La vida sense la Sara Amat,2019,NaN,None,6.6,5

In [146]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   primary_title    73856 non-null  object
 1   start_year       73856 non-null  int64
 2   runtime_minutes  66236 non-null  float64
 3   genres           73052 non-null  object
 4   averagerating    73856 non-null  float64
 5   numvotes         73856 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 3.4+ MB

In [123]:
imdb.dropna(inplace=True)

In [124]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65720 entries, 0 to 73854
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   primary_title    65720 non-null  object
 1   start_year       65720 non-null  int64
 2   runtime_minutes  65720 non-null  float64
 3   genres           65720 non-null  object
 4   averagerating    65720 non-null  float64
 5   numvotes         65720 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 3.5+ MB

In [126]:
imdb.head(60)

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
1,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769
2,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334
3,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405
4,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655
5,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",8.2,1035358
6,Shutter Island,2010,138.0,"Mystery,Thriller",8.1,1005960
7,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",8.1,948394
8,Deadpool,2016,108.0,"Action,Adventure,Comedy",8.0,820847
9,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",7.2,795227
10,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",8.0,784780
11,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi",8.1,780910
12,Gone Girl,2014,149.0,"Drama,Mystery,Thriller",8.1,761592
13,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,719629
14,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller",7.7,710018
15,Iron Man 3,2013,130.0,"Action,Adventure,Sci-Fi",7.2,692794
16,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy",8.1,691835
17,Thor,2011,115.0,"Action,Adventure,Fantasy",7.0,683264
18,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218
19,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi",8.0,680116
20,The Intouchables,2011,112.0,"Biography,Comedy,Drama",8.5,677343
21,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",8.5,670926
22,Captain America: The First Avenger,2011,124.0,"Action,Adventure,Sci-Fi",6.9,668137
23,Captain America: The Winter Soldier,2014,136.0,"Action,Adventure,Sci-Fi",7.8,666252
24,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",7.3,665594
25,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690
26,Black Swan,2010,108.0,"Drama,Thriller",8.0,648854
27,Man of Steel,2013,143.0,"Action,Adventure,Sci-Fi",7.1,647288
28,The Grand Budapest Hotel,2014,99.0,"Adventure,Comedy,Crime",8.1,633604
29,The Revenant,2015,156.0,"Action,Adventure,Biography",8.0,621193
30,Silver Linings Playbook,2012,122.0,"Comedy,Drama,Romance",7.7,621018
31,The Imitation Game,2014,114.0,"Biography,Drama,Thriller",8.0,620834
32,X-Men: Days of Future Past,2014,132.0,"Action,Adventure,Sci-Fi",8.0,620079
33,Whiplash,2014,106.0,"Drama,Music",8.5,616916
34,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299
35,X-Men: First Class,2011,131.0,"Action,Adventure,Sci-Fi",7.7,608930
36,The King's Speech,2010,118.0,"Biography,Drama,History",8.0,593629
37,Skyfall,2012,143.0,"Action,Adventure,Thriller",7.8,592221
38,Captain America: Civil War,2016,147.0,"Action,Adventure,Sci-Fi",7.8,583507
39,12 Years a Slave,2013,134.0,"Biography,Drama,History",8.1,577301
40,Batman v Superman: Dawn of Justice,2016,151.0,"Action,Adventure,Fantasy",6.5,576909
41,The Hunger Games: Catching Fire,2013,146.0,"Action,Adventure,Sci-Fi",7.5,575455
42,The Social Network,2010,120.0,"Biography,Drama",7.7,568578
43,The Hobbit: The Desolation of Smaug,2013,161.0,"Adventure,Fantasy",7.8,565563
44,Logan,2017,137.0,"Action,Drama,Sci-Fi",8.1,560270
45,World War Z,2013,116.0,"Action,Adventure,Horror",7.0,553751
46,Now You See Me,2013,115.0,"Crime,Mystery,Thriller",7.3,553156
47,Edge of Tomorrow,2014,113.0,"Action,Sci-Fi",7.9,546284
48,Kingsman: The Secret Service,2014,129.0,"Action,Adventure,Comedy",7.7,544510
49,Thor: The Dark World,2013,112.0,"Action,Adventure,Fantasy",6.9,540996
50,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338
51,Prometheus,2012,124.0,"Adventure,Mystery,Sci-Fi",7.0,538720
52,Ted,2012,106.0,"Comedy,Fantasy",6.9,538367
53,Inside Out,2015,95.0,"Adventure,Animation,Comedy",8.2,536181
54,Life of Pi,2012,127.0,"Adventure,Drama,Fantasy",7.9,535836
55,Argo,2012,120.0,"Biography,Drama,Thriller",7.7,534683
56,Suicide Squad,2016,123.0,"Action,Adventure,Fantasy",6.0,533039
57,Prisoners,2013,153.0,"Crime,Drama,Mystery",8.1,526273
58,The Amazing Spider-Man,2012,136.0,"Action,Adventure,Sci-Fi",7.0,525632
59,Drive,2011,100.0,"Crime,Drama",7.8,521495

In [127]:
imdb.describe()

         start_year  runtime_minutes  averagerating      numvotes
count  65720.000000     65720.000000   65720.000000  6.572000e+04
mean    2014.258065        94.732273       6.320902  3.954674e+03
std        2.600143       209.377017       1.458878  3.208823e+04
min     2010.000000         3.000000       1.000000  5.000000e+00
25%     2012.000000        81.000000       5.500000  1.600000e+01
50%     2014.000000        91.000000       6.500000  6.200000e+01
75%     2016.000000       104.000000       7.300000  3.520000e+02
max     2019.000000     51420.000000      10.000000  1.841066e+06

## Data Preparation
Describe and justify the process for preparing the data for analysis.

Questions to consider:

* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?

In [128]:
#Add > 25000 votes as a condition?

imdb.tail(64000)

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
1720,Fading Gigolo,2013,90.0,Comedy,6.2,22473
1721,The Guernsey Literary and Potato Peel Pie Society,2018,124.0,"Drama,History,Romance",7.4,22443
1722,The Silence,2019,90.0,"Horror,Thriller",5.2,22399
1723,Better Watch Out,2016,89.0,"Comedy,Crime,Horror",6.5,22367
1724,Paranormal Activity: The Ghost Dimension,2015,88.0,"Horror,Mystery,Thriller",4.6,22361
...,...,...,...,...,...,...
73848,The Winter Garden's Tale,2018,75.0,"Documentary,Drama",7.6,5
73850,The Projectionist,2019,81.0,Documentary,7.0,5
73851,Columbus,2018,85.0,Comedy,5.8,5
73852,BADMEN with a good behavior,2018,87.0,"Comedy,Horror",9.2,5
73854,Swarm Season,2019,86.0,Documentary,6.2,5

In [157]:
imdb.tail(64000)

,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
9856,The Source Family,2012,98.0,"Documentary,Music",6.9,951
9857,Kill or Be Killed,2015,103.0,"Horror,Mystery,Thriller",4.4,951
9858,Michael Inside,2017,96.0,Drama,7.2,951
9859,The Little House,2014,136.0,"Drama,Romance",7.3,950
9860,Spa Night,2016,93.0,Drama,5.9,950
...,...,...,...,...,...,...
73851,Columbus,2018,85.0,Comedy,5.8,5
73852,BADMEN with a good behavior,2018,87.0,"Comedy,Horror",9.2,5
73853,July Kaatril,2019,NaN,Romance,9.0,5
73854,Swarm Season,2019,86.0,Documentary,6.2,5
73855,La vida sense la Sara Amat,2019,NaN,None,6.6,5

In [156]:
imdb.value_counts()

primary_title                              start_year  runtime_minutes  genres                averagerating  numvotes
Šiška Deluxe                               2015        108.0            Comedy,Drama          6.3            384         1
Goodbye to All That                        2014        87.0             Comedy,Drama,Romance  5.2            2141        1
Grace                                      2014        95.0             Drama                 6.0            176         1
                                           2011        98.0             Crime,Drama,Horror    6.5            19          1
Grabbers                                   2012        94.0             Comedy,Horror,Sci-Fi  6.3            15727       1
                                                                                                                        ..
Revelation: Dawn of Global Government      2016        106.0            Documentary           6.8            65          1
Revelation Trail                           2013        108.0            Drama,Horror,Western  4.5            164         1
Revelation Road: The Black Rider           2014        112.0            Action,Drama,Fantasy  5.7            600         1
Revelation Road: The Beginning of the End  2013        88.0             Action                4.9            1672        1
!Women Art Revolution                      2010        83.0             Documentary           6.9            196         1
Length: 65720, dtype: int64

In [130]:
imdb.duplicated().value_counts()

False    65720
dtype: int64

In [231]:
####SELECT FROM WHERE
    ###Genre LIKE '%Action%'

In [241]:
###DEL combined_df = pd.concat([x, y], axis=1, join='inner')

In [243]:
###  combined_df

# ################################################################

In [131]:
##TEST TEST#########---HIGHEST GROSSING ACTOR/ACTRESS---#####################

q = """
SELECT primary_title, runtime_minutes, genres, category, primary_name, averagerating, numvotes 
FROM principals
JOIN movie_ratings
USING (movie_id)
JOIN movie_basics
USING (movie_id)
JOIN persons
USING (person_id)
WHERE category = "actress"
OR category = "actor"
ORDER BY numvotes DESC;
"""
imdb2 = pd.read_sql(q, conn)
#######################################

In [ ]:
#### add where num votes > 25000

In [132]:
imdb2.head(60)

,primary_title,runtime_minutes,genres,category,primary_name,averagerating,numvotes
0,Inception,148.0,"Action,Adventure,Sci-Fi",actor,Leonardo DiCaprio,8.8,1841066
1,Inception,148.0,"Action,Adventure,Sci-Fi",actor,Joseph Gordon-Levitt,8.8,1841066
2,Inception,148.0,"Action,Adventure,Sci-Fi",actress,Ellen Page,8.8,1841066
3,Inception,148.0,"Action,Adventure,Sci-Fi",actor,Ken Watanabe,8.8,1841066
4,The Dark Knight Rises,164.0,"Action,Thriller",actor,Christian Bale,8.4,1387769
5,The Dark Knight Rises,164.0,"Action,Thriller",actor,Tom Hardy,8.4,1387769
6,The Dark Knight Rises,164.0,"Action,Thriller",actress,Anne Hathaway,8.4,1387769
7,The Dark Knight Rises,164.0,"Action,Thriller",actor,Gary Oldman,8.4,1387769
8,Interstellar,169.0,"Adventure,Drama,Sci-Fi",actor,Matthew McConaughey,8.6,1299334
9,Interstellar,169.0,"Adventure,Drama,Sci-Fi",actress,Anne Hathaway,8.6,1299334
10,Interstellar,169.0,"Adventure,Drama,Sci-Fi",actress,Jessica Chastain,8.6,1299334
11,Interstellar,169.0,"Adventure,Drama,Sci-Fi",actress,Mackenzie Foy,8.6,1299334
12,Django Unchained,165.0,"Drama,Western",actor,Jamie Foxx,8.4,1211405
13,Django Unchained,165.0,"Drama,Western",actor,Christoph Waltz,8.4,1211405
14,Django Unchained,165.0,"Drama,Western",actor,Leonardo DiCaprio,8.4,1211405
15,Django Unchained,165.0,"Drama,Western",actress,Kerry Washington,8.4,1211405
16,The Avengers,143.0,"Action,Adventure,Sci-Fi",actor,Robert Downey Jr.,8.1,1183655
17,The Avengers,143.0,"Action,Adventure,Sci-Fi",actor,Chris Evans,8.1,1183655
18,The Avengers,143.0,"Action,Adventure,Sci-Fi",actress,Scarlett Johansson,8.1,1183655
19,The Avengers,143.0,"Action,Adventure,Sci-Fi",actor,Jeremy Renner,8.1,1183655
20,The Wolf of Wall Street,180.0,"Biography,Crime,Drama",actor,Leonardo DiCaprio,8.2,1035358
21,The Wolf of Wall Street,180.0,"Biography,Crime,Drama",actor,Jonah Hill,8.2,1035358
22,The Wolf of Wall Street,180.0,"Biography,Crime,Drama",actress,Margot Robbie,8.2,1035358
23,The Wolf of Wall Street,180.0,"Biography,Crime,Drama",actor,Matthew McConaughey,8.2,1035358
24,Shutter Island,138.0,"Mystery,Thriller",actor,Leonardo DiCaprio,8.1,1005960
25,Shutter Island,138.0,"Mystery,Thriller",actress,Emily Mortimer,8.1,1005960
26,Shutter Island,138.0,"Mystery,Thriller",actor,Mark Ruffalo,8.1,1005960
27,Shutter Island,138.0,"Mystery,Thriller",actor,Ben Kingsley,8.1,1005960
28,Guardians of the Galaxy,121.0,"Action,Adventure,Comedy",actor,Chris Pratt,8.1,948394
29,Guardians of the Galaxy,121.0,"Action,Adventure,Comedy",actor,Vin Diesel,8.1,948394
30,Guardians of the Galaxy,121.0,"Action,Adventure,Comedy",actor,Bradley Cooper,8.1,948394
31,Guardians of the Galaxy,121.0,"Action,Adventure,Comedy",actress,Zoe Saldana,8.1,948394
32,Deadpool,108.0,"Action,Adventure,Comedy",actor,Ryan Reynolds,8.0,820847
33,Deadpool,108.0,"Action,Adventure,Comedy",actress,Morena Baccarin,8.0,820847
34,Deadpool,108.0,"Action,Adventure,Comedy",actor,T.J. Miller,8.0,820847
35,Deadpool,108.0,"Action,Adventure,Comedy",actor,Ed Skrein,8.0,820847
36,The Hunger Games,142.0,"Action,Adventure,Sci-Fi",actress,Jennifer Lawrence,7.2,795227
37,The Hunger Games,142.0,"Action,Adventure,Sci-Fi",actor,Josh Hutcherson,7.2,795227
38,The Hunger Games,142.0,"Action,Adventure,Sci-Fi",actor,Liam Hemsworth,7.2,795227
39,The Hunger Games,142.0,"Action,Adventure,Sci-Fi",actor,Stanley Tucci,7.2,795227
40,Star Wars: Episode VII - The Force Awakens,136.0,"Action,Adventure,Fantasy",actress,Daisy Ridley,8.0,784780
41,Star Wars: Episode VII - The Force Awakens,136.0,"Action,Adventure,Fantasy",actor,John Boyega,8.0,784780
42,Star Wars: Episode VII - The Force Awakens,136.0,"Action,Adventure,Fantasy",actor,Oscar Isaac,8.0,784780
43,Star Wars: Episode VII - The Force Awakens,136.0,"Action,Adventure,Fantasy",actor,Domhnall Gleeson,8.0,784780
44,Mad Max: Fury Road,120.0,"Action,Adventure,Sci-Fi",actor,Tom Hardy,8.1,780910
45,Mad Max: Fury Road,120.0,"Action,Adventure,Sci-Fi",actress,Charlize Theron,8.1,780910
46,Mad Max: Fury Road,120.0,"Action,Adventure,Sci-Fi",actor,Nicholas Hoult,8.1,780910
47,Mad Max: Fury Road,120.0,"Action,Adventure,Sci-Fi",actress,Zoë Kravitz,8.1,780910
48,Gone Girl,149.0,"Drama,Mystery,Thriller",actor,Ben Affleck,8.1,761592
49,Gone Girl,149.0,"Drama,Mystery,Thriller",actress,Rosamund Pike,8.1,761592
50,Gone Girl,149.0,"Drama,Mystery,Thriller",actor,Neil Patrick Harris,8.1,761592
51,Gone Girl,149.0,"Drama,Mystery,Thriller",actor,Tyler Perry,8.1,761592
52,The Hobbit: An Unexpected Journey,169.0,"Adventure,Family,Fantasy",actor,Martin Freeman,7.9,719629
53,The Hobbit: An Unexpected Journey,169.0,"Adventure,Family,Fantasy",actor,Ian McKellen,7.9,719629
54,The Hobbit: An Unexpected Journey,169.0,"Adventure,Family,Fantasy",actor,Richard Armitage,7.9,719629
55,The Hobbit: An Unexpected Journey,169.0,"Adventure,Family,Fantasy",actor,Andy Serkis,7.9,719629
56,Gravity,91.0,"Drama,Sci-Fi,Thriller",actress,Sandra Bullock,7.7,710018
57,Gravity,91.0,"Drama,Sci-Fi,Thriller",actor,George Clooney,7.7,710018
58,Gravity,91.0,"Drama,Sci-Fi,Thriller",actor,Ed Harris,7.7,710018
59,Gravity,91.0,"Drama,Sci-Fi,Thriller",actor,Orto Ignatiussen,7.7,710018

In [133]:
imdb2

,primary_title,runtime_minutes,genres,category,primary_name,averagerating,numvotes
0,Inception,148.0,"Action,Adventure,Sci-Fi",actor,Leonardo DiCaprio,8.8,1841066
1,Inception,148.0,"Action,Adventure,Sci-Fi",actor,Joseph Gordon-Levitt,8.8,1841066
2,Inception,148.0,"Action,Adventure,Sci-Fi",actress,Ellen Page,8.8,1841066
3,Inception,148.0,"Action,Adventure,Sci-Fi",actor,Ken Watanabe,8.8,1841066
4,The Dark Knight Rises,164.0,"Action,Thriller",actor,Christian Bale,8.4,1387769
...,...,...,...,...,...,...,...
248295,Casting Chloe,NaN,"Comedy,Drama",actress,Sarah Jones Dittmeier,8.2,5
248296,Casting Chloe,NaN,"Comedy,Drama",actress,Annabelle Fox,8.2,5
248297,American Dope: Acid Dreams,53.0,Documentary,actor,Alan Bradley,8.2,5
248298,American Dope: Acid Dreams,53.0,Documentary,actor,Michael Levine,8.2,5
248299,American Dope: Acid Dreams,53.0,Documentary,actor,Tim Scully,8.2,5

In [134]:
####TEST####
imdb2['primary_name'].value_counts()

Eric Roberts               122
Brahmanandam                74
Prakash Raj                 74
Tom Sizemore                61
Michael Madsen              59
                          ...
Feristah Senem Yildirim      1
Eduard Alexandre             1
Jiameng Yu                   1
Renay Allen                  1
Justin Meeks                 1
Name: primary_name, Length: 142527, dtype: int64

In [135]:
####TEST####
imdb2['genres'].value_counts().head(20)

Drama                   48535
Comedy                  24363
Horror                  12110
Comedy,Drama            11008
Thriller                 6608
Drama,Romance            6301
Documentary              6247
Comedy,Romance           5339
Comedy,Drama,Romance     5056
Action                   4502
Horror,Thriller          4225
Drama,Thriller           4140
Romance                  3094
Comedy,Horror            2551
Action,Crime,Drama       2399
Crime,Drama,Thriller     2093
Crime,Drama              2079
Family                   2015
Drama,Family             1980
Action,Drama             1738
Name: genres, dtype: int64

In [ ]:
conn.close()

# 2 BOX OFFICE MOJO

In [177]:
##Loading up the first dataframe, BOX OFFICE MOJO, with Pandas.Importing Data
# Import the file and print the first 5 rows
bom = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [178]:
bom.info()
### CHANGE FOREIGN GROSS TO FLOAT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [179]:
## bom['foreign_gross'].astype(float)
##Gives Error: could not convert string to float: '1,131.6'

In [180]:
## bom['foreign_gross'].astype(int)
##Gives Error: cannot convert float NaN to integer

In [181]:
### sorting the values by domestic gross, we see that the foreign gross is off for 3 of the top results and for Furious 7.
bom.sort_values(by=['domestic_gross'],ascending=False)

,title,studio,domestic_gross,foreign_gross,year
1872,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015
3080,Black Panther,BV,700100000.0,646900000,2018
3079,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018
1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015
727,Marvel's The Avengers,BV,623400000.0,895500000,2012
...,...,...,...,...,...
1975,Surprise - Journey To The West,AR,NaN,49600000,2015
2392,Finding Mr. Right 2,CL,NaN,114700000,2016
2468,Solace,LGP,NaN,22400000,2016
2595,Viral,W/Dim.,NaN,552000,2016
2825,Secret Superstar,NaN,NaN,122000000,2017

In [182]:
### sorting the values by foreign gross, we see that the top 5 results are wildly popular franchises with a little over $1k gross.
bom.sort_values(by=['foreign_gross'])

,title,studio,domestic_gross,foreign_gross,year
2760,The Fate of the Furious,Uni.,226000000.0,"1,010.0",2017
1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015
1872,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015
1874,Furious 7,Uni.,353000000.0,"1,163.0",2015
3079,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [183]:
## REPLACE the erroneous values with more realistic ones.  The five entries were most likely meant to contain billions in gross.
bom['foreign_gross'] = bom['foreign_gross'].replace(['1,010.0','1,019.4','1,131.6', '1,163.0','1,369.5'], ['1010000000', '1019000000', '1131000000', '1163000000', '1369000000'])

In [184]:
#check to see if the values changed
bom.sort_values(by=['domestic_gross'],ascending=False)

,title,studio,domestic_gross,foreign_gross,year
1872,Star Wars: The Force Awakens,BV,936700000.0,1131000000,2015
3080,Black Panther,BV,700100000.0,646900000,2018
3079,Avengers: Infinity War,BV,678800000.0,1369000000,2018
1873,Jurassic World,Uni.,652300000.0,1019000000,2015
727,Marvel's The Avengers,BV,623400000.0,895500000,2012
...,...,...,...,...,...
1975,Surprise - Journey To The West,AR,NaN,49600000,2015
2392,Finding Mr. Right 2,CL,NaN,114700000,2016
2468,Solace,LGP,NaN,22400000,2016
2595,Viral,W/Dim.,NaN,552000,2016
2825,Secret Superstar,NaN,NaN,122000000,2017

In [185]:
bom.dropna(inplace=True)

In [186]:
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3275,I Still See You,LGF,1400.0,1500000,2018
3286,The Catcher Was a Spy,IFC,725000.0,229000,2018
3309,Time Freak,Grindstone,10000.0,256000,2018
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,93200.0,5200,2018
3353,Antonio Lopez 1970: Sex Fashion & Disco,FM,43200.0,30000,2018

In [187]:
#### convert 'domestic gross' column from object to float########
bom['domestic_gross'] = bom['domestic_gross'].astype(int)

In [188]:
#### convert 'foreign gross' column from object to float########
bom['foreign_gross'] = bom['foreign_gross'].astype(int)

In [189]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2007 entries, 0 to 3353
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2007 non-null   object
 1   studio          2007 non-null   object
 2   domestic_gross  2007 non-null   int32
 3   foreign_gross   2007 non-null   int32
 4   year            2007 non-null   int64
dtypes: int32(2), int64(1), object(2)
memory usage: 78.4+ KB

In [190]:
bom['total_gross'] = bom['domestic_gross'] + bom['foreign_gross']

In [191]:
bom

,title,studio,domestic_gross,foreign_gross,year,total_gross
0,Toy Story 3,BV,415000000,652000000,2010,1067000000
1,Alice in Wonderland (2010),BV,334200000,691300000,2010,1025500000
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000,664300000,2010,960300000
3,Inception,WB,292600000,535700000,2010,828300000
4,Shrek Forever After,P/DW,238700000,513900000,2010,752600000
...,...,...,...,...,...,...
3275,I Still See You,LGF,1400,1500000,2018,1501400
3286,The Catcher Was a Spy,IFC,725000,229000,2018,954000
3309,Time Freak,Grindstone,10000,256000,2018,266000
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,93200,5200,2018,98400
3353,Antonio Lopez 1970: Sex Fashion & Disco,FM,43200,30000,2018,73200

In [192]:
bom.sort_values(by=['total_gross'],ascending=False)

,title,studio,domestic_gross,foreign_gross,year,total_gross
1872,Star Wars: The Force Awakens,BV,936700000,1131000000,2015,2067700000
3079,Avengers: Infinity War,BV,678800000,1369000000,2018,2047800000
1873,Jurassic World,Uni.,652300000,1019000000,2015,1671300000
727,Marvel's The Avengers,BV,623400000,895500000,2012,1518900000
1874,Furious 7,Uni.,353000000,1163000000,2015,1516000000
...,...,...,...,...,...,...
711,I'm Glad My Mother is Alive,Strand,8700,13200,2011,21900
322,The Thorn in the Heart,Osci.,7400,10500,2010,17900
1110,Cirkus Columbia,Strand,3500,9500,2012,13000
715,Aurora,CGld,5700,5100,2011,10800
721,To Die Like a Man,Strand,4000,900,2011,4900

In [193]:
bom = bom.drop(['studio', 'year'], axis=1)

In [194]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2007 entries, 0 to 3353
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2007 non-null   object
 1   domestic_gross  2007 non-null   int32
 2   foreign_gross   2007 non-null   int32
 3   total_gross     2007 non-null   int32
dtypes: int32(3), object(1)
memory usage: 54.9+ KB

In [195]:
bom

,title,domestic_gross,foreign_gross,total_gross
0,Toy Story 3,415000000,652000000,1067000000
1,Alice in Wonderland (2010),334200000,691300000,1025500000
2,Harry Potter and the Deathly Hallows Part 1,296000000,664300000,960300000
3,Inception,292600000,535700000,828300000
4,Shrek Forever After,238700000,513900000,752600000
...,...,...,...,...
3275,I Still See You,1400,1500000,1501400
3286,The Catcher Was a Spy,725000,229000,954000
3309,Time Freak,10000,256000,266000
3342,Reign of Judges: Title of Liberty - Concept Short,93200,5200,98400
3353,Antonio Lopez 1970: Sex Fashion & Disco,43200,30000,73200

In [201]:
bom.describe()

       domestic_gross  foreign_gross   total_gross
count    2.007000e+03   2.007000e+03  2.007000e+03
mean     4.701984e+07   7.862646e+07  1.256463e+08
std      8.162689e+07   1.480804e+08  2.211996e+08
min      4.000000e+02   6.000000e+02  4.900000e+03
25%      6.700000e+05   4.000000e+06  8.239000e+06
50%      1.670000e+07   1.970000e+07  4.240000e+07
75%      5.605000e+07   7.775000e+07  1.337500e+08
max      9.367000e+08   1.369000e+09  2.067700e+09

In [202]:
bom.columns

Index(['title', 'domestic_gross', 'foreign_gross', 'total_gross'], dtype='object')

In [203]:
bom.isna().sum()

title             0
domestic_gross    0
foreign_gross     0
total_gross       0
dtype: int64

In [204]:
bom.dtypes

###change foreign_gross into float

title             object
domestic_gross     int32
foreign_gross      int32
total_gross        int32
dtype: object

In [205]:
bom.head(20)

,title,domestic_gross,foreign_gross,total_gross
0,Toy Story 3,415000000,652000000,1067000000
1,Alice in Wonderland (2010),334200000,691300000,1025500000
2,Harry Potter and the Deathly Hallows Part 1,296000000,664300000,960300000
3,Inception,292600000,535700000,828300000
4,Shrek Forever After,238700000,513900000,752600000
5,The Twilight Saga: Eclipse,300500000,398000000,698500000
6,Iron Man 2,312400000,311500000,623900000
7,Tangled,200800000,391000000,591800000
8,Despicable Me,251500000,291600000,543100000
9,How to Train Your Dragon,217600000,277300000,494900000
10,Clash of the Titans (2010),163200000,330000000,493200000
11,The Chronicles of Narnia: The Voyage of the Da...,104400000,311300000,415700000
12,The King's Speech,135500000,275400000,410900000
13,Tron Legacy,172100000,228000000,400100000
14,The Karate Kid,176600000,182500000,359100000
15,Prince of Persia: The Sands of Time,90800000,245600000,336400000
16,Black Swan,107000000,222400000,329400000
17,Megamind,148400000,173500000,321900000
18,Robin Hood,105300000,216400000,321700000
19,The Last Airbender,131800000,187900000,319700000

In [207]:
bom.shape

(2007, 4)

## JOINING DATAFRAMES

In [208]:
bom.set_index('title', inplace=True)

In [209]:
bom.head()

,domestic_gross,foreign_gross,total_gross
title,,,
Toy Story 3,415000000,652000000,1067000000
Alice in Wonderland (2010),334200000,691300000,1025500000
Harry Potter and the Deathly Hallows Part 1,296000000,664300000,960300000
Inception,292600000,535700000,828300000
Shrek Forever After,238700000,513900000,752600000

In [210]:
imdb.set_index('primary_title', inplace=True)

In [211]:
imdb

,start_year,runtime_minutes,genres,averagerating,numvotes
primary_title,,,,,
Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769
Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334
Django Unchained,2012,165.0,"Drama,Western",8.4,1211405
The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655
...,...,...,...,...,...
Columbus,2018,85.0,Comedy,5.8,5
BADMEN with a good behavior,2018,87.0,"Comedy,Horror",9.2,5
July Kaatril,2019,NaN,Romance,9.0,5
Swarm Season,2019,86.0,Documentary,6.2,5
La vida sense la Sara Amat,2019,NaN,None,6.6,5

In [213]:
joined_df = imdb.join(bom, how='inner')

joined_df

,start_year,runtime_minutes,genres,averagerating,numvotes,domestic_gross,foreign_gross,total_gross
'71,2014,99.0,"Action,Drama,Thriller",7.2,46103,1300000,355000,1655000
10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery",7.2,260383,72100000,38100000,110200000
102 Not Out,2018,102.0,"Comedy,Drama",7.5,4802,1300000,10900000,12200000
11-11-11,2011,90.0,"Horror,Mystery,Thriller",4.0,11712,32800,5700000,5732800
12 Strong,2018,130.0,"Action,Drama,History",6.6,50155,45800000,21600000,67400000
...,...,...,...,...,...,...,...,...
Yves Saint Laurent,2014,106.0,"Biography,Drama",6.2,10311,724000,20300000,21024000
Zero Dark Thirty,2012,157.0,"Drama,Thriller",7.4,251072,95700000,37100000,132800000
Zookeeper,2011,102.0,"Comedy,Family,Romance",5.2,52396,80400000,89500000,169900000
Zoolander 2,2016,101.0,Comedy,4.7,59914,28800000,27900000,56700000
Zootopia,2016,108.0,"Adventure,Animation,Comedy",8.0,383446,341300000,682500000,1023800000

In [214]:
joined_df.sort_values(by=['numvotes'], ascending=False).head(60)

,start_year,runtime_minutes,genres,averagerating,numvotes,domestic_gross,foreign_gross,total_gross
Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,292600000,535700000,828300000
The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769,448100000,636800000,1084900000
Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334,188000000,489400000,677400000
Django Unchained,2012,165.0,"Drama,Western",8.4,1211405,162800000,262600000,425400000
The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",8.2,1035358,116900000,275100000,392000000
Shutter Island,2010,138.0,"Mystery,Thriller",8.1,1005960,128000000,166800000,294800000
Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",8.1,948394,333200000,440200000,773400000
Deadpool,2016,108.0,"Action,Adventure,Comedy",8.0,820847,363100000,420000000,783100000
The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",7.2,795227,408000000,286400000,694400000
Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi",8.1,780910,153600000,224800000,378400000
Gone Girl,2014,149.0,"Drama,Mystery,Thriller",8.1,761592,167800000,201600000,369400000
The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,719629,303000000,718100000,1021100000
Gravity,2013,91.0,"Drama,Sci-Fi,Thriller",7.7,710018,274100000,449100000,723200000
Iron Man 3,2013,130.0,"Action,Adventure,Sci-Fi",7.2,692794,409000000,805800000,1214800000
Thor,2011,115.0,"Action,Adventure,Fantasy",7.0,683264,181000000,268300000,449300000
Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,415000000,652000000,1067000000
The Martian,2015,144.0,"Adventure,Drama,Sci-Fi",8.0,680116,228400000,401700000,630100000
Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",8.5,670926,678800000,1369000000,2047800000
Captain America: The First Avenger,2011,124.0,"Action,Adventure,Sci-Fi",6.9,668137,176700000,193900000,370600000
Captain America: The Winter Soldier,2014,136.0,"Action,Adventure,Sci-Fi",7.8,666252,259800000,454500000,714300000
Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",7.3,665594,459000000,946400000,1405400000
Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690,312400000,311500000,623900000
Black Swan,2010,108.0,"Drama,Thriller",8.0,648854,107000000,222400000,329400000
Man of Steel,2013,143.0,"Action,Adventure,Sci-Fi",7.1,647288,291000000,377000000,668000000
The Grand Budapest Hotel,2014,99.0,"Adventure,Comedy,Crime",8.1,633604,59300000,115500000,174800000
The Revenant,2015,156.0,"Action,Adventure,Biography",8.0,621193,183600000,349300000,532900000
Silver Linings Playbook,2012,122.0,"Comedy,Drama,Romance",7.7,621018,132100000,104300000,236400000
The Imitation Game,2014,114.0,"Biography,Drama,Thriller",8.0,620834,91100000,142400000,233500000
X-Men: Days of Future Past,2014,132.0,"Action,Adventure,Sci-Fi",8.0,620079,233900000,513900000,747800000
Whiplash,2014,106.0,"Drama,Music",8.5,616916,13100000,35900000,49000000
How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299,217600000,277300000,494900000
X-Men: First Class,2011,131.0,"Action,Adventure,Sci-Fi",7.7,608930,146400000,207200000,353600000
The King's Speech,2010,118.0,"Biography,Drama,History",8.0,593629,135500000,275400000,410900000
Skyfall,2012,143.0,"Action,Adventure,Thriller",7.8,592221,304400000,804200000,1108600000
Captain America: Civil War,2016,147.0,"Action,Adventure,Sci-Fi",7.8,583507,408100000,745200000,1153300000
12 Years a Slave,2013,134.0,"Biography,Drama,History",8.1,577301,56700000,131100000,187800000
Batman v Superman: Dawn of Justice,2016,151.0,"Action,Adventure,Fantasy",6.5,576909,330400000,543300000,873700000
The Hunger Games: Catching Fire,2013,146.0,"Action,Adventure,Sci-Fi",7.5,575455,424700000,440300000,865000000
The Social Network,2010,120.0,"Biography,Drama",7.7,568578,97000000,128000000,225000000
The Hobbit: The Desolation of Smaug,2013,161.0,"Adventure,Fantasy",7.8,565563,258399999,700000000,958399999
World War Z,2013,116.0,"Action,Adventure,Horror",7.0,553751,202400000,337600000,540000000
Now You See Me,2013,115.0,"Crime,Mystery,Thriller",7.3,553156,117700000,234000000,351700000
Edge of Tomorrow,2014,113.0,"Action,Sci-Fi",7.9,546284,100200000,270300000,370500000
Kingsman: The Secret Service,2014,129.0,"Action,Adventure,Comedy",7.7,544510,128300000,286100000,414400000
Thor: The Dark World,2013,112.0,"Action,Adventure,Fantasy",6.9,540996,206400000,438200000,644600000
Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338,652300000,1019000000,1671300000
Prometheus,2012,124.0,"Adventure,Mystery,Sci-Fi",7.0,538720,126500000,276900000,403400000
Ted,2012,106.0,"Comedy,Fantasy",6.9,538367,218800000,330600000,549400000
Inside Out,2015,95.0,"Adventure,Animation,Comedy",8.2,536181,356500000,501100000,857600000
Life of Pi,2012,127.0,"Adventure,Drama,Fantasy",7.9,535836,125000000,484000000,609000000
Argo,2012,120.0,"Biography,Drama,Thriller",7.7,534683,136000000,96300000,232300000
Suicide Squad,2016,123.0,"Action,Adventure,Fantasy",6.0,533039,325100000,421700000,746800000
Prisoners,2013,153.0,"Crime,Drama,Mystery",8.1,526273,61000000,61100000,122100000
The Amazing Spider-Man,2012,136.0,"Action,Adventure,Sci-Fi",7.0,525632,262000000,495900000,757900000
Frozen,2013,102.0,"Adventure,Animation,Comedy",7.5,516998,400700000,875700000,1276400000
Black Panther,2018,134.0,"Action,Adventure,Sci-Fi",7.3,516148,700100000,646900000,1347000000
Arrival,2016,116.0,"Drama,Mystery,Sci-Fi",7.9,515483,100500000,102800000,203300000
Doctor Strange,2016,115.0,"Action,Adventure,Fantasy",7.5,514510,232600000,445100000,677700000
Ant-Man,2015,117.0,"Action,Adventure,Comedy",7.3,501213,180200000,339100000,519300000
Looper,2012,113.0,"Action,Crime,Drama",7.4,500595,66500000,110000000,176500000

In [215]:
joined_df.sort_values(by=['total_gross'], ascending=False).head(60)

,start_year,runtime_minutes,genres,averagerating,numvotes,domestic_gross,foreign_gross,total_gross
Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",8.5,670926,678800000,1369000000,2047800000
Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338,652300000,1019000000,1671300000
Furious 7,2015,137.0,"Action,Crime,Thriller",7.2,335074,353000000,1163000000,1516000000
Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",7.3,665594,459000000,946400000,1405400000
Black Panther,2018,134.0,"Action,Adventure,Sci-Fi",7.3,516148,700100000,646900000,1347000000
Star Wars: The Last Jedi,2017,152.0,"Action,Adventure,Fantasy",7.1,462903,620200000,712400000,1332600000
Jurassic World: Fallen Kingdom,2018,128.0,"Action,Adventure,Sci-Fi",6.2,219125,417700000,891800000,1309500000
Frozen,2010,93.0,"Adventure,Drama,Sport",6.2,62311,400700000,875700000,1276400000
Frozen,2010,92.0,"Fantasy,Romance",5.4,75,400700000,875700000,1276400000
Frozen,2013,102.0,"Adventure,Animation,Comedy",7.5,516998,400700000,875700000,1276400000
Incredibles 2,2018,118.0,"Action,Adventure,Animation",7.7,203510,608600000,634200000,1242800000
The Fate of the Furious,2017,136.0,"Action,Crime,Thriller",6.7,179774,226000000,1010000000,1236000000
Iron Man 3,2013,130.0,"Action,Adventure,Sci-Fi",7.2,692794,409000000,805800000,1214800000
Minions,2015,91.0,"Adventure,Animation,Comedy",6.4,193917,336000000,823400000,1159400000
Captain America: Civil War,2016,147.0,"Action,Adventure,Sci-Fi",7.8,583507,408100000,745200000,1153300000
Aquaman,2018,143.0,"Action,Adventure,Fantasy",7.1,263328,335100000,812700000,1147800000
Transformers: Dark of the Moon,2011,154.0,"Action,Adventure,Sci-Fi",6.2,366409,352400000,771400000,1123800000
Skyfall,2012,143.0,"Action,Adventure,Thriller",7.8,592221,304400000,804200000,1108600000
Transformers: Age of Extinction,2014,165.0,"Action,Adventure,Sci-Fi",5.7,283486,245400000,858600000,1104000000
The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769,448100000,636800000,1084900000
Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,415000000,652000000,1067000000
Rogue One: A Star Wars Story,2016,133.0,"Action,Adventure,Sci-Fi",7.8,478592,532200000,523900000,1056100000
Pirates of the Caribbean: On Stranger Tides,2011,136.0,"Action,Adventure,Fantasy",6.6,447624,241100000,804600000,1045700000
Despicable Me 3,2017,89.0,"Adventure,Animation,Comedy",6.3,92580,264600000,770200000,1034800000
Finding Dory,2016,97.0,"Adventure,Animation,Comedy",7.3,213542,486300000,542300000,1028600000
Zootopia,2016,108.0,"Adventure,Animation,Comedy",8.0,383446,341300000,682500000,1023800000
The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,719629,303000000,718100000,1021100000
Despicable Me 2,2013,98.0,"Adventure,Animation,Comedy",7.4,344230,368100000,602700000,970800000
Jumanji: Welcome to the Jungle,2017,119.0,"Action,Adventure,Comedy",7.0,242735,404500000,557600000,962100000
The Hobbit: The Desolation of Smaug,2013,161.0,"Adventure,Fantasy",7.8,565563,258399999,700000000,958399999
The Hobbit: The Battle of the Five Armies,2014,144.0,"Adventure,Fantasy",7.4,438621,255100000,700900000,956000000
Bohemian Rhapsody,2018,134.0,"Biography,Drama,Music",8.0,345466,216400000,687200000,903600000
Spectre,2015,148.0,"Action,Adventure,Thriller",6.8,352504,200100000,680600000,880700000
Spider-Man: Homecoming,2017,133.0,"Action,Adventure,Sci-Fi",7.5,426302,334200000,546000000,880200000
Ice Age: Continental Drift,2012,88.0,"Adventure,Animation,Comedy",6.6,175601,161300000,715900000,877200000
The Secret Life of Pets,2016,87.0,"Adventure,Animation,Comedy",6.5,161997,368400000,507100000,875500000
Batman v Superman: Dawn of Justice,2016,151.0,"Action,Adventure,Fantasy",6.5,576909,330400000,543300000,873700000
Wolf Warrior 2,2017,123.0,"Action,Drama,Thriller",6.2,5684,2700000,867600000,870300000
The Hunger Games: Catching Fire,2013,146.0,"Action,Adventure,Sci-Fi",7.5,575455,424700000,440300000,865000000
Guardians of the Galaxy Vol. 2,2017,136.0,"Action,Adventure,Comedy",7.7,482917,389800000,473900000,863700000
Inside Out,2015,95.0,"Adventure,Animation,Comedy",8.2,536181,356500000,501100000,857600000
Inside Out,2011,59.0,Family,7.3,15,356500000,501100000,857600000
Inside Out,2011,93.0,"Crime,Drama",4.6,1566,356500000,501100000,857600000
Inside Out,2013,75.0,"Biography,Documentary,History",7.5,60,356500000,501100000,857600000
Thor: Ragnarok,2017,130.0,"Action,Adventure,Comedy",7.9,482995,315100000,538900000,854000000
Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,292600000,535700000,828300000
Wonder Woman,2014,60.0,Sci-Fi,4.2,20,412600000,409300000,821900000
Wonder Woman,2017,141.0,"Action,Adventure,Fantasy",7.5,487527,412600000,409300000,821900000
Wonder Woman,2016,75.0,"Documentary,Drama,Sport",6.9,13,412600000,409300000,821900000
Coco,2017,105.0,"Adventure,Animation,Comedy",8.4,277194,209700000,597400000,807100000
Coco,2017,98.0,Horror,7.4,35,209700000,597400000,807100000
Pirates of the Caribbean: Dead Men Tell No Tales,2017,129.0,"Action,Adventure,Fantasy",6.6,228592,172600000,622300000,794900000
Mission: Impossible - Fallout,2018,147.0,"Action,Adventure,Thriller",7.8,233877,220200000,571000000,791200000
Fast & Furious 6,2013,130.0,"Action,Crime,Thriller",7.1,346747,238700000,550000000,788700000
Deadpool,2016,108.0,"Action,Adventure,Comedy",8.0,820847,363100000,420000000,783100000
Deadpool 2,2018,119.0,"Action,Adventure,Comedy",7.8,391735,318500000,460500000,779000000
Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",8.1,948394,333200000,440200000,773400000
Maleficent,2014,97.0,"Action,Adventure,Family",7.0,305832,241400000,517100000,758500000
The Amazing Spider-Man,2012,136.0,"Action,Adventure,Sci-Fi",7.0,525632,262000000,495900000,757900000
The Hunger Games: Mockingjay - Part 1,2014,123.0,"Action,Adventure,Sci-Fi",6.6,379050,337100000,418200000,755300000

In [ ]:
#### MUST USE WHERE numvotes > 25000

# 3 THE NUMBERS

In [218]:
##Loading up the third dataframe, THE NUMBERS, with Pandas.
numbers = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")
numbers

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [219]:
numbers = numbers.drop(['id', 'domestic_gross'], axis=1)

In [222]:
numbers.set_index('movie', inplace=True)

In [234]:
numbers.head()

,release_date,production_budget,worldwide_gross
movie,,,
Avatar,"Dec 18, 2009","$425,000,000","$2,776,345,279"
Pirates of the Caribbean: On Stranger Tides,"May 20, 2011","$410,600,000","$1,045,663,875"
Dark Phoenix,"Jun 7, 2019","$350,000,000","$149,762,350"
Avengers: Age of Ultron,"May 1, 2015","$330,600,000","$1,403,013,963"
Star Wars Ep. VIII: The Last Jedi,"Dec 15, 2017","$317,000,000","$1,316,721,747"

In [235]:
numbers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5782 entries, Avatar to My Date With Drew
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   production_budget  5782 non-null   object
 2   worldwide_gross    5782 non-null   object
dtypes: object(3)
memory usage: 180.7+ KB

In [239]:
numbers['production_budget'] = numbers['production_budget'].astype(float)

ValueError: could not convert string to float: '$425,000,000'

In [236]:
numbers['roi'] = numbers['worldwide_gross'] - numbers['production_budget']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [231]:
numbers

ValueError: invalid literal for int() with base 10: '$2,776,345,279'

In [56]:
numbers.shape

(5782, 6)

In [ ]:
##### RELEASE DATES / WORLDWIDEGROSS

In [57]:
numbers.index

RangeIndex(start=0, stop=5782, step=1)

In [58]:
numbers.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [59]:
numbers.isna().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [60]:
numbers.dtypes

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [61]:
numbers.value_counts()

id   release_date  movie                     production_budget  domestic_gross  worldwide_gross
100  Sep 2, 2005   The Transporter 2         $32,000,000        $43,095,856     $88,978,458        1
34   Apr 30, 2010  Housefull                 $10,100,000        $1,183,658      $18,726,300        1
     Apr 5, 2019   The Best of Enemies       $10,000,000        $10,205,616     $10,205,616        1
     Aug 13, 2010  The Expendables           $82,000,000        $103,068,524    $268,268,174       1
     Aug 25, 2017  Birth of the Dragon       $31,000,000        $6,901,965      $7,220,490         1
                                                                                                  ..
67   Jun 15, 2005  Batman Begins             $150,000,000       $205,343,774    $359,142,722       1
     Jun 19, 1987  The Brave Little Toaster  $2,300,000         $0              $0                 1
     Jun 3, 1988   Big                       $18,000,000        $114,968,774    $151,668,774       1
     Jun 7, 2013   The Purge                 $3,000,000         $64,473,115     $91,266,581        1
1    Apr 10, 1981  Nighthawks                $5,000,000         $14,600,000     $19,600,000        1
Length: 5782, dtype: int64

In [ ]:
#################### VISUAL EXAMPLES################################
#import matplotlib.pyplot as plt

# Set up figure and axes
#fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=(12, 7))
#fig.set_tight_layout(True)

# Histogram of Wins and Frequencies
#ax1.hist(x=wins, bins=range(8), align="left", color="green")
#ax1.set_xticks(range(7))
#ax1.set_xlabel("Wins in 2018 World Cup")
#ax1.set_ylabel("Frequency")
#ax1.set_title("Distribution of Wins")

## Horizontal Bar Graph of Wins by Country
#ax2.barh(teams[::-1], wins[::-1], color="green")
#ax2.set_xlabel("Wins in 2018 World Cup")
#ax2.set_title("Wins by Country");

##################################################################
# Set up figure
#fig, ax = plt.subplots(figsize=(8, 5))

# Basic scatter plot
#ax.scatter(
#    x=populations,
#    y=wins,
#    color="gray", alpha=0.5, s=100
#)
#ax.set_xlabel("2018 Population")
#ax.set_ylabel("2018 World Cup Wins")
#ax.set_title("Population vs. World Cup Wins")

# Add annotations for specific points of interest
#highlighted_points = {
#    "Belgium": 2, # Numbers are the index of that
#    "Brazil": 3,  # country in populations & wins
#    "France": 10,
#    "Nigeria": 17
#}
#for country, index in highlighted_points.items():
    # Get x and y position of data point
#    x = populations[index]
#    y = wins[index]
    # Move each point slightly down and to the left
    # (numbers were chosen by manually tweaking)
#    xtext = x - (1.25e6 * len(country))
#    ytext = y - 0.5
    # Annotate with relevant arguments
#    ax.annotate(
#        text=country,
#        xy=(x, y),
#        xytext=(xtext, ytext)
#    )

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

Questions to consider:

* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?

In [ ]:
###usa_2016_gold_medals = []

##for row in olympics_data:
##    if row["Medal"] == "G" and row["Nationality"] == "USA" and row["Year"] == "2016":
##        usa_2016_gold_medals.append({"Event": row["Event"], "Name": row["Name"]})
        
## usa_2016_gold_medals

## Evaluation

Evaluate how well your work solves the stated business problem.

Questions to consider:

* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?

## Conclusions

Provide your conclusions about the work you've done, including any limitations or next steps.


Questions to consider:

* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?